/* .navigation{
  position: fixed;
} */
.cartbtn{
  border:2px solid
}
.cartbtn:hover{
  background-color: rgb(27, 26, 26);
  color:white;
}
.banner{
    height:300px;
    display: flex;
    justify-content: center;
    flex-flow: wrap column;
    align-items: center;
}
.bannertext1{
  font-size:50px;
}
.bannertext2{
  font-size:25px;
}
.shopOuter{
  margin-top: 20px;
  display: flex;
  flex-flow: wrap row;
  justify-content:center;
  align-items: center;

}
.image{
  border-radius: 5px 5px 0 0;
}
.shopList{
  display: flex;
  flex-flow: wrap column;
  margin:10px;
  margin-right: 50px;
}
.shopContent{
  border-bottom:1px solid #dddddd;
  border-left:1px solid #dddddd;
  border-right:1px solid #dddddd;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 5px 5px;

}
.navigation-btn{
  cursor: pointer;
}